<ul>
    <li>Username: {{user.username}}</li>
    <li>First name: {{user.firstName}}</li>
    <li>Last name: {{user.lastName}}</li>
    <li>Profession: {{user.profession}}</li>
    <li>Bio: {{user.bio}}</li>
</ul>

<a href='/logout'>Click here to log out.</a>